<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>PianoFitness - Modifica Recensione</title>
    <link rel="stylesheet" th:href="@{/css/formRecensione.css}">
</head>

<body>
    <div class="form-topbar">
        <div class="form-logo">
            <a th:href="@{/}">
                <img th:src="@{/images/Logo.png}" alt="PianoFitness Logo">
            </a>
        </div>
        <a th:if="${recensione.scheda != null}" th:href="@{'/scheda/' + ${recensione.scheda.id}}" class="btn-back">TORNA
            ALLA SCHEDA</a>
        <a th:if="${recensione.scheda == null}" th:href="@{/}" class="btn-back">TORNA ALLA HOME</a>
    </div>

    <div class="form-container">
        <div class="form-card">
            <div class="card-header">
                <h1>Modifica Recensione</h1>
                <p>Aggiorna il tuo feedback</p>
            </div>

            <div th:if="${messaggioErrore}" class="alert-error">
                <span th:text="${messaggioErrore}"></span>
            </div>

            <form th:action="@{'/scheda/' + ${recensione.scheda.id} + '/recensione/edit/' + ${recensione.id}}"
                method="post" th:object="${recensione}">

                <div class="form-group">
                    <label for="valutazione">Valutazione (da 1 a 5 stelle)</label>
                    <input type="number" id="valutazione" th:field="*{valutazione}" min="1" max="5" required>
                </div>

                <div class="form-group">
                    <label for="testo">La tua Recensione</label>
                    <textarea id="testo" th:field="*{testo}" required></textarea>
                </div>

                <div class="action-buttons">
                    <button type="submit" class="btn-submit">SALVA MODIFICHE</button>
                    <a th:href="@{'/scheda/' + ${recensione.scheda.id}}" class="btn-cancel">ANNULLA</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>